# requirements.txt  (Python 3.12)
streamlit==1.33.0

torch==2.2.2
torchaudio==2.2.2

# pull latest Audiocraft directly from GitHub
git+https://github.com/facebookresearch/audiocraft.git@main

transformers==4.39.3
sentencepiece==0.1.99
accelerate==0.28.0
